

.App-logo {
  height:90%;
  pointer-events: none;
}
body{
  scroll-behavior: smooth;
}
.loading-animation{
  display:block;
  max-width:100px;
  margin:auto;
}
@media (prefers-reduced-motion: no-preference) {
  body {
    color:#3c3863;
    background-image: linear-gradient(134deg, rgba(23, 39, 124, 0.15), rgba(23, 39, 124, 0) 100%); 
  }
}
body{
  min-height:100vh;
  background-size:cover;
}

.App-link {
  color: #61dafb;
}
.categories{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: start;
}